
@{
    ViewData["Title"] = "Galerija";
    Layout = "~/Views/Shared/Layout1.cshtml";
}


<h3>
    <i class="fas fa-images">    Posjetite nas i uvjerite se u vrhunsku kvalitetu!</i>
</h3>

<div class="container">

    
    <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="~/lib/Slike/slika1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="~/lib/Slike/hotel1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="~/lib/Slike/hotel3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="~/lib/Slike/hotel4.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="~/lib/Slike/hotel5.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="~/lib/Slike/hotel6.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="~/lib/Slike/hotel7.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="~/lib/Slike/hotel8.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="~/lib/Slike/hotel9.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="~/lib/Slike/hotel10.jpg" style="width:100%">
    </div>
   
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    
    <div class="caption-container">
        <p id="caption"></p>
    </div>

</div>




<style>
    * {
        box-sizing: border-box;
    }

    
    .container {
        position: relative;
    }

    .mySlides {
        display: none;
    }

  
    .cursor {
        cursor: pointer;
    }

    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

  
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

  
    .column {
        float: left;
        width: 16.66%;
    }

   
    .demo {
        opacity: 0.6;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
</style>


<script>
    var slideIndex = 1;
    showSlides(slideIndex);

   
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

   
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

