
@{
    ViewData["Title"] = "ONama";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

@*class="card mb-3"*@
<div style="background-image:url(https://t-ec.bstatic.com/images/hotel/max1024x768/780/78084129.jpg)">

    @*<img src="~/lib/Slike/slika1.jpg" />*@
    <div class="card-header">
        <i class="fas fa-hotel">Zasto hotel "Holiday"?</i>
    </div>
    <div class="card-body">
        <div class="form-group">
            <i class="fas fa-arrow-alt-circle-right">   24/7/365 usluga</i>
            <br />
            <br />
            <i class="fas fa-smile">   zadovoljstvo korisnika zajamčeno</i>
            <br />
            <br />
            <i class="fas fa-money-check-alt">   najniža cijena zajamčena cijelo vrijeme</i>
            <br />
            <br />
            <i class="fas fa-eye-slash">   bez skrivenih troškova</i>
            <br />
            <br />
            <i class="fas fa-exclamation">   bez naknade za otkazivanje</i>
            <br />
            <br />
            <i class="fas fa-shopping-cart">   sigurno online plaćanje</i>
            <br />
            <br />
            <i class="fas fa-gift">   ekskluzivne ponude</i>
            <br />
        </div>
    </div>
    <br />
    <br />
</div>
<h4>
    <i class="fas fa-smile-beam">Uspjesno poslovanje zeli vam hotel "Holiday"!</i>
</h4>




