@model WebApplication9.Areas.Klijent.ViewModels.DodatneUslugeIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Dodatne usluge
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" @*width="100%" *@ cellspacing="0">
                <thead>
                    <tr>
                        <th width="50%">Naziv</th>
                        <th>Akcija</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.rows)
                    {
                        <tr>
                            <td>@x.Naziv</td>

                            <td>

                                <a href="/Klijent/DodatneUsluge/Detalji?uslugaID=@x.UslugaID" class="btn btn-outline-primary"
                                   style="background-color: #e7e7e7; color: black;">
                                    <i class="fa fa-info"></i>
                                    Opis
                                </a> <space></space><space></space>

                                
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <a href="/Klijent/DodatneUsluge/Cjenovnik" class=" btn btn-primary" style="background-color: #e7e7e7; color: black;"><i class="fa fa-angle-double-right"></i>Cjenovnik</a>
    </div>



</div>


