@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication9.Areas.Administrator.ViewModels.JeloDodajVM

@{
    ViewData["Title"] = "Dodaj";
    Layout = "~/Views/Shared/Layout1.cshtml";

}
<!DOCTYPE html>


<div class="form-style-6">
    <form asp-action="Snimi">
        <input type="hidden" asp-for="Jelo.Id" />
        <fieldset>
           
        <h1><i class=" fas fa-fw fa-utensil-spoon"></i> Novo jelo</h1>


            <label>Naziv:</label>
            <input type="text" asp-for="Jelo.Naziv" placeholder="Naziv">
            <span asp-validation-for="Jelo.Naziv" class="text-danger"></span>
            <label>Opis:</label>
            <textarea asp-for="Jelo.Opis" placeholder="Opis"></textarea>
            <span asp-validation-for="Jelo.Opis" class="text-danger"></span>
            <label>Cijena:</label>
            <input type="text" asp-for="Jelo.Cijena" placeholder="Cijena">
            <span asp-validation-for="Jelo.Cijena" class="text-danger"></span>


        </fieldset>
        <br />


        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Sacuvaj</button>
        <a asp-action="Index" class="btn btn-primary" style="background-color:lightgray;color:black"><i class="fa fa-times"></i> Odustani</a>

    </form>

</div>









