@model WebApplication9.Areas.Klijent.ViewModels.SobeCjenovnikVM
@{
    ViewData["Title"] = "Cjenovnik";
    Layout = "~/Views/Shared/Layout1.cshtml";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Cjenovnik soba
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Cijena</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.rows)
                    {
                        <tr>
                            <td>@x.naziv</td>
                            <td>@x.cijena</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="/Klijent/Sobe/Index" class="btn btn-primary" style="margin-left:40%; background-color:gray"><i class="fa fa-backward"></i> Nazad</a>



